<app-header></app-header>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form">

            <span class="login100-form-title p-b-48">
                Bank UI
            </span>

            <div class="container-login100-form-btn">
                <button
                    class="login100-form-btn"
                    type="button"
                    (click)="login()"
                >
                    Sign in with Keycloak
                </button>
            </div>

        </form>
        </div>
    </div>
</div>
